<div class="card" style="max-width: 450px">
  <div class="card-header">
    <h4>Cancel my account</h4>
  </div>
  <div class="card-body">
    <h5>Unhappy?</h5>
    <%= button_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
<br/>
<%= link_to "Back", :back %>
<br/>
<br/>
