
<div class="card">
  <div class="card-header">
    <h2>About Calendii</h2>
  </div>
  <div class="card-body">
    <pre style="font-size: 18px; color: cadetblue">This is a simple app having following functionalities:
        <br/>
        1. Signing Up and Logging In with Authentication
        <br/>
        2. Accessing Calender Events of Users
        <br/>
        3. Updating Existing Profiles
        <br/>
        4. Deleting Existing Profiles
    </pre>
  </div>
</div>